.HappyCustomers {
 margin: 56px auto;
}
.HappyCustomers h2 {
 margin-bottom: 40px;
}
.HappyCustomers .review{
    padding: 24px;
}
.HappyCustomers .review:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.HappyCustomers .stars {
    margin-bottom: 8px;
}
.HappyCustomers .rtext {
    margin-top: 8px;
}
/* إخفاء سكرول البار */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* تحريك الأسهم */
.arrow-btn {
  transition: all 0.3s ease;
  padding: 8px 12px;
}
.arrow-btn:hover {
  background-color: #ff9900;
}
.reviewsContainer{
    padding: 10px 32px;
}