.header{
    padding:12px;
}
.headertitle{
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
}
@media(max-width:600px){
.header{
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}
}
@media(max-width:768px){
.header .close{
    display: none;
}
}